html {
    background-color: rgb(224, 183, 183);
    scroll-behavior: smooth;
}

* {
    color: black;
    margin: 10px;
    font: 16px Tahoma;

}

button {
    color: black;
}

.box {
    display: flex;

}

.box div {
    border: solid 1px black;
}

.grid-container {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 1px;
}

.grid-item1 {
    background: lightgray;
    border: black 1px solid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-item2 {
    background: lightgray;
    border: black 1px solid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-item3 {
    background: lightgray;
    border: black 1px solid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

h1 {
    color: sienna;
}

button {
    border: 2px solid #aaa;
    background-color: skyblue;
}

header,
section {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: antiquewhite;
    padding: min(2em, 15%);
    border-radius: 1em;
}

nav {
    margin: 1em auto 1em auto;
    width: min(1000px, 100%);
    font-size: 1.5em;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

nav p:first-child {
    margin-right: auto;
}

button.subpage {
    border-radius: .3em;
    font-size: 1.2em;
    color: black;
    background-color: aliceblue;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

hl {
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.intro_button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: rgb(127, 62, 127);
    padding: .75em 1em;
    margin-top: 0em;
    border-radius: 1em;
}

.intro_button1 {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: rgb(193, 7, 63);
    padding: .75em 1em;
    margin-top: 0em;
    border-radius: 1em;
}

.intro_button2 {
    display: inline-block;
    text-decoration: none;
    color: rgb(136, 11, 11);
    background-color: rgb(127, 101, 101);
    padding: .75em 1em;
    margin-top: 0em;
    border-radius: 1em;
}

.text_container {
    flex: 0 1 40em;
}

/* Basic CSS for the tree */
.node circle {
    fill: #fff;
    stroke-width: 2px;
}

.node text {
    font: 10px sans-serif;
    font-weight: normal;
    fill: #333;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

/* Responsive SVG */
#vis-treeplot svg {
    width: 800px;
    height: 400px;
}

/* Legend Styling */
.legend {
    font-size: 10px;
    font-family: sans-serif;
}

.legend rect {
    width: 10px;
    height: 10px;
}

/* Style for the main title */
h1 {
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

/* Style for the legend container */
#legend-container {
    text-align: center;
    margin-top: 20px;
}

/* Style for the legend title */
#legend-container h2 {
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}

.treetitle {
    text-align: center;
}

#node_link_diagram svg{
    text-align: center; /* 居中对齐内容 */
        align-items: center; /* 水平居中对齐 */
      width: 1200px;
    height: 500px;

    }
    .links line {
      stroke: #1a73bc;
      stroke-opacity: 0.6;
    }
    .nodes circle {
      stroke: #742135;
      stroke-width: 1.5px;
    }
    .nodes text {
      font-size: 12px;
      font-family: sans-serif;
    }

.table-title {
    font-size: 34px; /* 增加标题字号 */
    color: #523309; /* 更改标题颜色 */
    margin-bottom: 18px; /* 添加标题与段落之间的间距 */
        margin: 0 auto; /* 居中段落 */
}

.table-description {
    font-size: 16px; /* 段落字号 */
    color: #0f1314; /* 更改段落颜色 */
    max-width: 800px; /* 控制段落宽度 */
      margin: 0 auto; /* 居中段落 */
}


body {
    font-family: sans-serif;
}

.matrix-container {
    width: 600px; /* 调整容器宽度 */
    overflow-x: auto; /* 添加水平滚动条 */
}


.matrix {
    border-collapse: collapse;
}

.matrix th,
.matrix td {
    padding: 5px;
    text-align: center;
    border: 1px solid #49b12a;
}

.matrix th {
    background-color: #cfcf9f;
}

.matrix td {
    background-color: #bcc1cb;
}

.matrix td.highlighted {
    background-color: #e79393; /* 高亮单元格的颜色 */
}